.header p {
    display: inline-block;
}

.header {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background: rgb(56, 54, 54);
}

#galleryText {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: white;
}

#homeButton {
    float: left;
    font-size: 15px;
    text-decoration: none;
    border-right-style: solid;
    border-right-width: 1px;
}

#homeButton a {
    text-decoration: none;
    color: white;
    display: block;
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
}

#homeButton a:hover {
    background: rgb(211, 82, 8);
    color: black;
}

img {
    margin-top: 200px;
    height: auto;
    width : 400px;
}

