body {
    font-family: sans-serif;
}

.logo {
    display: block;
    margin-left: 35%;
    margin-right: auto;
    height: 500x;
    width: 500px;
    margin-top: -100px;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: rgb(56, 54, 54);
    overflow: hidden;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li:hover {
    background: rgb(211, 82, 8);
}

li a:hover {
    color: black;
}

li.active {
    color: black;
}


.navButton {
    display: block;
    color: rgba(255, 255, 255, 0.89);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.about {
    width: 40%;
    display: inline-block;
    margin-left:300px;
    margin-top: 75px;
    border-style:solid;
    border-width:1px;
    padding: 10px;

}

#aboutHeader {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-weight: bold;
    font-size: 50px;
}

#aboutText {
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
}

.products {
    width: 375px;
    display: inline;
    float: right;
    margin-right: 50px;
    margin-top: 150px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}

#productHeader {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#productList {
    text-align: center;
    padding-top: 15px;
    list-style-type: square;
    margin-bottom: 20px;
    overflow: visible;
    margin-bottom: 125px;

}

.product {
    margin-top: 15px;
    padding-bottom: 15px;
    font-size: 23px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.product a {
    text-decoration: none;
    color: black;
}

.product a:hover {
    color: rgb(211, 82, 8);
}